<!--login view-->
<div class="flex-grow flex flex-column">
    <div class="Login py3 mb4">
        <div class="auth-form p3 mx-auto">
            <div class="Login--Header mb3"><img
                    src="/chatbot-solution/app-images/selekt_logo_new.png" class="Login--Logo mx-auto"
                    alt="Selekt logo">
                <h1 class="title--secondary center">Login</h1></div>
            <form name="form" role="form">
                <div class="InputGroup mb2 form-group"
                     ng-class="{ 'has-error' : form.email.$dirty && form.email.$error.required }">
                    <div class="w100 flex flex-stretch flex-content-between"><label
                            class="label left-align">Email
                        address</label><span
                            class="c-red-900 s-text right-align"></span></div>
                    <div class="Input"><input type="email" required name="email" value=""
                                              ng-class="{highlight: !form.email.$valid && form.email.$touched}"
                                              ng-model="email"
                                              ng-change="!error"
                                              class="rc-field icon"/><i ng-show="!form.email.$valid && form.email.$touched" class=" error_icon fa fa-times-circle" aria-hidden="true"></i>
                        <i ng-show="form.email.$valid && form.email.$touched" class=" success_icon fa fa-check-circle " aria-hidden="true"></i>
                    </div>
                </div>
                <div class="InputGroup mb2 form-group">
                    <div class="w100 flex flex-stretch flex-content-between"><label
                            class="label left-align">Password</label><span
                            class="c-red-900 s-text right-align"></span></div>
                    <div class="Input"><input type="password"
                                              ng-class="{highlight: !form.password.$valid && form.password.$touched}"
                                              required ng-model="password" name="password" value=""
                                              class="rc-field icon">
                        <i ng-show="!form.password.$valid && form.password.$touched" class=" error_icon fa fa-times-circle" aria-hidden="true"></i>
                        <i ng-show="form.password.$valid && form.password.$touched" class=" success_icon fa fa-check-circle " aria-hidden="true"></i>
                    </div>
                </div>
                <a href="#!/forgot" class="forgot">Forgot password?</a>
                <div class="right-align form-actions">
                    <div tabindex="0" class="btn btn-action success" ng-click="vm.login()" ng-disabled="!password || !email || progress">
                        <div class="btn--content">Login</div>
                    </div>
                </div>
                <div class="center">
                    <img ng-show="progress" src="/chatbot-solution/app-images/gif/in_progress.gif" class="progress-status"/>
                    <span class="no-success" ng-show="error && !progress">{{errorMessage}}</span>
                    <span class="success-msg text-center" ng-show="success">{{successMessage}}</span>
                </div>
            </form>
        </div>
        <div class="center">
            <p class="mb2 mt2">or</p>
            <p class="m-text bold"><!-- react-text: 137 -->Don't have an account?
                <!-- /react-text --><!-- react-text: 138 --> <!-- /react-text --><a
                        href="#!/signup?ref=from-login">Sign up</a></p></div>
    </div>
</div>