<!--home page view-->
<div class="home-view" style="overflow-x: hidden; width: 100%">
    <!--block 1 in home view-->
  <div class="row shop-on" style="background: url(https://static.niki.ai/img/background.jpg);background-size: cover;overflow: hidden;background-repeat: no-repeat;">
      <section class="container middle">
        <div class="row">
            <div class="chat-box col-xs-12 col-md-6 hidden-xs">
                <div ng-show="chat_1" class="chat-bubble chat-client pull-right app-bg-color" style="display: block;">Need dress for a party</div>
                <div  ng-show="chat_2" class="chat-bubble chat-niki pull-left" style="display: block; margin-right: 50%">Sure</div>
                <div  ng-show="chat_3" class="chat-bubble chat-niki pull-left" style="display: block;">I have found 15000 dresses</div>
            </div>
            <div  class="heading col-xs-12 col-md-8 pull-right text-uppercase" align="center">
                <h2 class="white" style="font-size:35px">Women's fashion On Chat</h2>
                <h3 class="white" id="order" style="text-transform:none">Launch Fashion bot on Facebook with your own inventory without coding</h3>
                <a href="/chatbot-solution/signup" style="margin-top:20px" target="" class="btn demo-login-btn app-bg-color">&nbsp;Get Started</a>
            </div>
        </div>
    </section>
  </div>
  <!--Our Product and Chat Features-->
    <div class="row content-home">
    <section class="animations">
        <h4>Our Product and Chat Features</h4>
        <!--<h5>Build smarter apps faster with Selekt’s powerful fashion bot technology.</h5>-->
        <div class="animations-inner">
            <div class="animation">
                <div class="animation-image animation-tagging">
                    <img src="/chatbot-solution/app-images/features/tagging.png?v=1.1" alt="">
                </div>
                <div class="title">Tagging inventory</div>
                <div class="description">
                    Selekt automatically tags missing relevant attributes for your inventory with our state of art attribute tagging algorithm using deep learning<br></div>
            </div>
            <div class="animation">
                <div class="animation-image animation-tagging">
                    <img src="/chatbot-solution/app-images/features/context_management.png?v=1.1" alt="">
                </div>
                <div class="title">Context Management</div>
                <div class="description">
                    Bot understands user context and accordingly responds to the queries like 'undo'  , 'go back' etc.
                    <br></div>
            </div>
            <div class="animation">
                <div class="animation-image animation-custom">
                    <img src="/chatbot-solution/app-images/features/ocassion.png?v=1.1" alt="">
                </div>
                <div class="title">Understanding Occasions</div>
                <div class="description">Bot understands relevant major occasions and accordingly recommend products from your inventory to the user <br></div>
            </div>
            <div class="animation">
                <div class="animation-image animation-searching">
                    <img src="/chatbot-solution/app-images/features/personalized_results.png?v=1.1" alt="">
                </div>
                <div class="title">Personalized </div>
                <div class="description">Bot collects user body profile and body concern info and recommend products
                    accordingly along with styling tips
                    .<br>
                    </div>
            </div>
            <div class="animation">
                <div class="animation-image animation-moderation">
                    <img src="/chatbot-solution/app-images/features/deals.png?v=1.1" alt="">
                </div>
                <div class="title">Offer /  Deals</div>
                <div class="description">Bot can show offers / deals in recommended list at every stage.<br></div>
            </div>
            <div class="animation">
                <div class="animation-image animation-moderation">
                    <img src="/chatbot-solution/app-images/features/preference_selection.png?v=1.1" alt="">
                </div>
                <div class="title">Preference Selection</div>
                <div class="description">Bot helps user to select preferences based on user profile and need.<br></div>
            </div>
            <div class="animation">
                <div class="animation-image animation-moderation">
                    <img src="/chatbot-solution/app-images/features/mix_match.png?v=1.1" alt="">
                </div>
                <div class="title">Mix &amp; Match</div>
                <div class="description">Coming soon.<br></div>
            </div>
            <div class="animation">
                <div class="animation-image animation-moderation">
                    <img src="/chatbot-solution/app-images/features/trends.png?v=1.1" alt="">
                </div>
                <div class="title">Inspirations / Trends</div>
                <div class="description">Coming soon.<br></div>
            </div>


        </div>
    </section>
</div>
    <!--Footer-->
    <div class="row shop-on">
        <section id="create-chatbot-section">
            <div class="container">
                <div class="section-header"><br><br>
                    <h2 class="dark-text text-center">Create your fashion bot now!</h2>
                </div>
                <div class="row text-center">
                    <h3 class="create-chatbot-text">It's time to make it work for you</h3><br>
                    <a href="/chatbot-solution/signup" target="" class="btn demo-login-btn app-bg-color">&nbsp;Let's Start</a>
                </div>
                <br><br>
            </div>
        </section>

        <section id="connect-section">
            <div class="container">
                <div class="row footer-line">
                    <div class="col-md-2 col-xs-12">
                        <h3 class="create-chatbot-text contact-text"><a class="connect-img" href="mailto:info@selekt.in?subject=Selekt%20website%20enquiry">info@selekt.in</a></h3>
                    </div>
                    <div class="col-md-offset-5 col-md-5 text-right col-xs-12 contact-text"><br>
                        <a class="connect-img fb" href="https://www.facebook.com/Selektin-1895037644101272/" target="_blank"><span class="icon-social-facebook transparent-text-dark"></span></a>
                        <a class="connect-img linkedin" href="https://www.linkedin.com/company-beta/13279961/" target="_blank"><span class="icon-social-linkedin transparent-text-dark"></span></a>
                        <a class="connect-img twitter" href="https://twitter.com/selekt_india" target="_blank"><span class="icon-social-twitter transparent-text-dark"></span></a>
                        <a class="connect-img insta" href="https://www.instagram.com/selekt.in/" target="_blank"><span class="icon-social-instagram transparent-text-dark"></span></a>
                        <a style="display:none" class="connect-img utube" href="https://www.youtube.com/channel/UCHwZVbigaN9PLYR9OxWL27Q" target="_blank"><span class="icon-social-youtube transparent-text-dark"></span></a>
                    </div>
                </div>
                <h5 class="footer-info text-center">
                    <a> Selekt © 2018 | All Rights Reserved |</a>
                    <!-- <a  target="_blank" href="https://docs.google.com/a/coviam.com/document/d/1K1Ne4_zBghtqa6pVDp4mZVwMXXR2GJJqDGg_tZmkBeM/edit?usp=sharing"> Terms of use |</a> -->
                    <a target="_blank" href="/chatbot-solution/privacy-policy.html"> Privacy Policy</a>
                </h5><br><br>
            </div>
        </section>
    </div>
</div>